<a href="https://colab.research.google.com/github/lanashin/CST2312/blob/main/office_work_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

biometric statistics for a group of office workers. There are 18 records, recording Name, Sex, Age, Height, Weight There is an initial header line.

In [ ]:
#connecting to data source 
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
csv_file = open("/content/gdrive/MyDrive/data/biostats.csv")

In [ ]:
#to print the contaent of this csv file 
csv_file.seek(0)
for line in csv_file:
  print(line, end= " ")

"Name",     "Sex", "Age", "Height (in)", "Weight (lbs)"
 "Alex",       "M",   41,       74,      170
 "Bert",       "M",   42,       68,      166
 "Carl",       "M",   32,       70,      155
 "Dave",       "M",   39,       72,      167
 "Elly",       "F",   30,       66,      124
 "Fran",       "F",   33,       66,      115
 "Gwen",       "F",   26,       64,      121
 "Hank",       "M",   30,       71,      158
 "Ivan",       "M",   53,       72,      175
 "Jake",       "M",   32,       69,      143
 "Kate",       "F",   47,       69,      139
 "Luke",       "M",   34,       72,      163
 "Myra",       "F",   23,       62,       98
 "Neil",       "M",   36,       75,      160
 "Omar",       "M",   38,       70,      145
 "Page",       "F",   31,       67,      135
 "Quin",       "M",   29,       71,      176
 "Ruth",       "F",   28,       65,      131

In [ ]:
#remember to reset the file point if you want to read the file again
csv_file.seek(0)

0

In [ ]:
#import csv module, if you need to install the csv module use 
#pip install csv
import csv

Writing new CSV file

In [ ]:
with open("/content/gdrive/MyDrive/data/biostats.csv", "r") as csv_handle:
  csv_content = csv.reader(csv_handle)

  with open("/content/gdrive/MyDrive/data/office_workers.csv", "w") as new_office:
    csv_output = csv.writer(new_office, delimiter='|')
    
    for line in csv_content:
      csv_output.writerow(line)

In [ ]:
csv_office_file = open("/content/gdrive/MyDrive/data/office_workers.csv")

In [ ]:
csv_office_file.seek(0)
for line in csv_office_file:
  print(line, end= " ")

Name|"     ""Sex"""|" ""Age"""|" ""Height (in)"""|" ""Weight (lbs)"""
 Alex|"       ""M"""|   41|       74|      170
 Bert|"       ""M"""|   42|       68|      166
 Carl|"       ""M"""|   32|       70|      155
 Dave|"       ""M"""|   39|       72|      167
 Elly|"       ""F"""|   30|       66|      124
 Fran|"       ""F"""|   33|       66|      115
 Gwen|"       ""F"""|   26|       64|      121
 Hank|"       ""M"""|   30|       71|      158
 Ivan|"       ""M"""|   53|       72|      175
 Jake|"       ""M"""|   32|       69|      143
 Kate|"       ""F"""|   47|       69|      139
 Luke|"       ""M"""|   34|       72|      163
 Myra|"       ""F"""|   23|       62|       98
 Neil|"       ""M"""|   36|       75|      160
 Omar|"       ""M"""|   38|       70|      145
 Page|"       ""F"""|   31|       67|      135
 Quin|"       ""M"""|   29|       71|      176
 Ruth|"       ""F"""|   28|       65|      131