<a href="https://colab.research.google.com/github/lanashin/CST23122/blob/main/Assignments/Dictionaries_in_python(assi3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
from typing import Dict
#2 specific concrete types 
team: Dict[int,str] = {}
#in dict we can start from any number not necessary form o as in list
team[23] = "Jordan"
#team[23]
team[33] = "Pippen"
#team[33]
team[23]= "James"
team[23]
#you can't have duplicate keys but you can have duplicate values
team

{23: 'James', 33: 'Pippen'}

In [21]:
#some reference examples of using dictionaries
from typing import Dict 
#declare dict[key_type, value_type]
#in this example key is int and value is a string
#we're mapping integers -> strings 
team: Dict[int, str]= {}
team[91] = "Rodman"
team[23]= "Jordan"
team[33]= "Pippen"

#interate through the key of a dictionary 
for key in team:
  print(key) #we expect it will keep the same order as we type keys in dict

  #access values by given their key in subscription 
  print(team[key])

91
Rodman
23
Jordan
33
Pippen

In [22]:
#remove a key value (str) pair by its key 
booted_player: str = team.pop(91)
print (booted_player)
print(team)
#dictionaries as lists are mutibale data stracters - that can be changinf or overating by its value removed

Rodman
{23: 'Jordan', 33: 'Pippen'}

In [23]:
#test if we have specific key in the dict
if 23 in team:
  print("You have Jordan")
if 91 in team:
  print("You have Rodman")

You have Jordan

In [29]:
#Change Examples to DNA Base Pairs 
def count_pairs(dna: str)-> Dict[str, int]:   
  counts: Dict[str,int] = {     #dict literal sentax in paranthasys
    "a":0,
    "c":0,
    "g":0,
    "t":0
  }
  for letter in dna:      #for each letter in dna, as a counts given letter and add one
      counts[letter] +=1
  return counts

In [30]:
count_pairs("acgtaagaagt")

{'a': 5, 'c': 1, 'g': 3, 't': 2}